<div class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <span class="material-icons" style="font-size:35px; color: rgb(241, 24, 24);">place</span>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>24,Rajendra Nagar, Nagpur</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <span class="material-icons" style="font-size:35px; color: rgb(30, 97, 240);">call</span>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="material-icons" style="font-size:35px; color: rgb(238, 227, 70);">email</i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>Fruit@shop.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><span style="font-style: oblique;border-radius: 8px;color: black;background-color: rgb(245, 187, 187);">FruitShop</span></a>
                        </div>
                        <div class="footer-text">  Incididunt ut sunt tempor consectetur ut voluptate cupidatat nostrud elit Lorem quis veniam nisi. Proident ea ullamco ut eiusmod cupidatat laborum. Ex velit ex qui excepteur.
                        </div>
                       
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-social-icon">
                        <span>Follow us</span>
                        <a href="#"><img style="width: 50px;background-color: white;" src="https://i.ibb.co/w7GTk8p/facebook.png" alt="facebook" ></a>       
                        <a href="#"><img style="width: 50px;background-color: white;" src="https://i.ibb.co/JKgDFrH/instagram.png" alt="instagram" ></a>
                        <a href="#"><img style="width: 50px;background-color: white;" src="https://i.ibb.co/0Dm9Rdr/linkedin.png" alt="linkedin" ></a>
                        <a href="#"><img style="width: 50px;background-color: white;" src="https://i.ibb.co/3T0x0tn/twitter.png" alt="twitter" ></a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a >Rinkesh</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

